.information-content{
    background-color: none;
    float: left;
}
#info1{
    background-color: none;
    margin: 10px 0px 0px 0px;
}
#info2{
    background-color: none;
}
#info3{
    background-color: none;
    margin: 20px 0px 15px 495px;
}
.government{
    width: 363px;
    height: 1282px;
    background-image: linear-gradient(#A0C334, #FFFF);
}
.header-gov{
    width: 363px;
    height: 102px;
    background-color: #303E27;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}

.profile-gov{
    text-align: center;
}
.profile-gov img{
    width: 208px;
    height: 247px;
}
.name-gov{
    margin-top: 21px;
    font-size: 20px;
}
.search{
    margin-left: 405px;
    display: flex;
}
input[type=text]{
    width: 460px;
    height: 52px;
    border: 0px;
    background-color: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.button{
    width: 163px;
    height: 52px;
    margin: 2px 0 0 10px;
    background-color: #A0C334;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.button:hover{
    color: white;
}

.nav-num{
    display: flex;
    justify-content: center;
}
.num-1,.num-2,.num-3,.num-4{
    width: 30px;
    height: 31px;
    background-color: #FFFF;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-top: 5px;
}
.nav-num a{
    text-decoration: none;
    color: #8D8D8D;
}
.nav-num a:hover{
    text-decoration: none;
    color: black;
}
.viewButton{
    text-transform: uppercase;
    color: #A0C334;
    border: none;
    background: none;
    font-size: 14px;
    padding: 0px 5px 0px 0px;
    cursor: pointer;
}

.gardener-content{
    margin: 10px auto 0px 0px;
    height: 100%;
    width: 100%;
}
.gardener-profile{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: auto;
    line-break: auto;
    margin: 10px 0px 0px 13.3%;
}
.gardener-card{
    width: 285px;
    height: 360px;
    margin: 25px 25px 0px 0px;
    box-shadow: 8px 12px 24px -12px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #FFFF;
    
}
.gardener-container{
    padding-left: 12px;
    text-align: left;
    font-size: 20px;
}
.gardener-container span{
    font-weight: bold;
}
.gardener-card img{
    width: 285px;
    height: fit-content;
}
.gardener-button{
    margin: 0px 25px 0px auto;
    text-align: center;
    width: 81px;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.gardener-container a{
    text-decoration: none;
    color: #494949;
    font-size: 16px;
}