@import url('https://fonts.googleapis.com/css?family=Kanit');

*{
    font-family: "Kanit", sans-serif;
}
.menu ul{
    text-align: right;
    list-style-type: none;
    color: white;
    margin: 0 0 0 0;
    padding: 30px 50px 0 0;
}
.lang a{
    text-decoration: none;
    color: white;
}
.lang ul{
    text-align: right;
    list-style-type: none;
    color: white;
    margin: 0 0 0 0;
    padding-top: 10px;
    padding-right: 50px;
}
.lang ul li{
    padding-left: 5px;
}
li{
    display: inline;
    padding-left: 45px;
}
.navbar{
    background-color: #303E27;
    width: 100%;
    height: 93px;
}
.menu{
    position: relative;
    bottom: 45px;
    right: 5px;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu button{
    width: 45px;
    height: 45px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.mainContent{
    margin:75px auto 0px auto ;
}

.section{
    float: left;
}
#sec1{
    margin: 0px 0px 0px 50px;
}
#sec2{
    margin: 0px 0px 0px 0px;
}
.box{
    background-color: #EBEBEB;
}
.profilePic{
    width: 400px;
    height: 400px;
    border: none;
    transition: 0.5s;
    color: white;
    background-image: url("/Picture/profilepicExample.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.profilePic:hover{
    opacity: 50%;
    color: white;
}
.profilePic:hover::after{
    content: attr(data-hover1);
    font-size: 18px;
    font-weight:bold;
}
.column{
    float: left;
    width: 715px;
    height: 600px;
}
.column input{
    margin: 0px 0px 0px 50px;
    border: none;
    width: 460px;
    height: 40px;
}
.column textarea{
    margin: 0px 0px 0px 50px;
    resize: none;
    width: 460px;
    height: 120px;
}

#col1 h2{
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 50px;
    color: black;
}
#col1 p{
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 50px;
}

#col2 h2{
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 50px;
    color: #EBEBEB;
}
#col2 p{
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 50px;
}

#Profile{
    width: 400px;
    height: 400px;
}
#AccountInfo{
    width: 550px;
    height: 490px;
}
#AccountInfo h2,p{
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 0px 35px;
}
#AccountInfo input{
    margin: 0px 0px 0px 35px;
    border: none;
    width: 460px;
    height: 40px;
}
#AccountInfo2 {
    width: 380px;
    height: 490px;
}
#AccountInfo2 h2{
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 0px 35px;
    color: #EBEBEB;
}
#AccountInfo2 p{
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 0px 35px;
}
#AccountInfo2 input{
    margin: 0px 0px 0px 35px;
    border: none;
    width: 300px;
    height: 40px;
}
#Personalnfo{
    margin: 50px 0px 50px 0px;
    width: 1430px;
    height: 600px;
}
.footer{
    display: flex;
    background-color: #303E27;
    width: 1390px;
    height: 300px;
    color: white;
    padding-top: 10px;
    padding-left: 120px;

  }
  .footer-1-1{
    font-size: 36px;
  }
  .footer-1-2{
    font-size: 16px;
    padding-top: 15px;
  }
  .footer-1-4{
    display: flex;
    padding-top: 10px;
  }
  .footer-1-4 img{
      width: 34px;
      height: 35px;
      padding-right: 20px;
  }
  .footer-2{
    padding-left: 80px;
    padding-top: 103px;
  }
  .footer-3{
    display: flex;
    padding-left: 80px;
    padding-top: 40px;
  }
  .footer-3-1{
    font-size: 16px;
    width: 350px;
    height: 205px;
    background-color: gray;
    text-align: center;
  }
  .footer-3-2{
    padding-left: 15px;
    font-size: 16px;
  }
  .footer-3-3 img{
    width: 108px;
    height: 112px;
    margin: 0px 20px 0px 0px;
    padding-top: 5px;
  }
  
.Submit{
    margin: 15px 0px 0px 0px ;
    text-align: center;
    transition: 0.4s;
    width: 400px;
    height: 75px;
    color: black;
    font-size: 36px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #A0C334;
}
.Submit:hover{
    background-color: #303E27;
    color: white;
}

.miniProfile{
    text-align: center;
    transition: 0.4s;
    font-size: 36px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: white;
}
.miniProfile:hover{
    background-color: #A0C334;
    color: white;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }