@import url('https://fonts.googleapis.com/css?family=Kanit');

.mainContent{
    margin:30px auto 0px auto ;
    width: 950px;
    height: 650px;
}
.box{
    margin:30px auto 0px auto ;
    width: 950px;
    height: 550px;
    background-color: #EBEBEB;
}
.navbar{
    text-align: right;
}
.lanSelect{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; text-anchor: middle;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    margin: 0px 0px 0px 20px ;
    cursor: pointer;
}
#EN{
    background-color: #04AA6D;
    background-image: url("/Picture/EngLan.png");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
}
#TH{
    background-color: #04AA6D;
    background-image: url("/Picture/ThaiLan.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}
#CN{
    background-color: #04AA6D;
    background-image: url("/Picture/China.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 2%;
}
.row{
    float: left;
    margin: 0px 0px 0px 0px;
}
.select button {
    display: block;
}
#Farmer{
    margin: 25px 0px 0px 20px ;
    text-align: center;
    transition: 0.4s;
    width: 445px;
    height: 245px;
    color: white;
    font-family: "Kanit", sans-serif;
    cursor: pointer;
    border: none;
    background-image: url("/Picture/pic1.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}
#Farmer:hover{
    opacity: 50%;
    background-size: 160%;
    border: 3px solid #434343;
}
#Farmer:hover::after{
    content: attr(data-hover1);
    font-size: 18px;
    font-weight:bold;
}

#Organize{
    margin: 10px 0px 0px 20px ;
    text-align: center;
    transition: 0.4s;
    width: 445px;
    height: 245px;
    color: white;
    font-family: "Kanit", sans-serif;
    cursor: pointer;
    border: none;
    background-image: url("/Picture/pic5.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#Organize:hover{
    opacity: 50%;
    background-size: 130%;
    border: 3px solid #434343;
}
#Organize:hover::after{
    content: attr(data-hover2);
    font-size: 18px;
    font-weight:bold;
}

.display{
    width: 400px;
    height: 50px;
    margin: 0px 0px 0px 40px;
    background-color: #D9D9D9;
    border: none;
}

.display label{
    position: relative;
    top: 15px;
    font-family: "Kanit", sans-serif;
    transition: 0.4s;
}

#TEXTBOX{
    margin: 70px 0px 0px 0px;
}
.row h1 {
    font-size: 32px;
    font-family: "Kanit", sans-serif;
    margin: 0px 0px 0px 80px;
}
.row .part1{
    margin: 0px 0px 0px 0px;
    text-align: center;
    
}
.row .part2{
    margin: 60px 0px 0px 0px;
    text-align: center;
}
.row .part3{
    margin: 50px 0px 0px 0px;
    text-align: center;
}

.row .part1,.part2 p{
    font-size: 15px;
    font-family: "Kanit", sans-serif;
    text-align:center;
    margin: 0px 0px 0px 55px;
    opacity: 70%;

}
#TextBold{
    font-weight: bold;
}

#loginInput{
    width: 375px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #D9D9D9;
}
.part3 form,a{
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: white;
}

.Submit{
    margin: 0px 0px 0px 40px ;
    text-align: center;
    transition: 0.4s;
    width: 380px;
    height: 55px;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #929292;
}
.Submit:hover{
    background-color: #474747;
    color: white;
}